/* fuck off margins */
body, #wrapper, #div1, #div2, #div3 {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    background: linear-gradient(0deg, rgba(223,233,233,1) 0%, rgba(255,255,255,0.9948354341736695) 100%);
}

/* horizontal divs */
#wrapper {
    width: 100%;
    overflow: hidden;
}
#div1, #div2 {
    float: left;
    height: 100vh;
    overflow: auto;
}
#div1 {
    width: 74%;
    background-size: 100%;
}
#div2 {
    width: 25%;
    background-color: white;
    padding-left: 0.5rem;
}

.chatbox {
    overflow: scroll;
    height: 86.5vh;
}

/* extra styles */
.bordered {
    border: 2px solid rgb(64, 147, 165);
}
.debug-bordered {
    border: 0px solid rgb(64, 147, 165);
}
.padded {
    padding-left: 0.5vw;
}

/* input */
form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.3vw;
}
.paddedtextbox {
    height: 7vh;
    width:72.5vw;
    border: 2px solid rgb(64, 147, 165);
    background-color: rgb(255, 255, 255);
    font-size: 1vw;
}
.scrollCheckbox {
    border:none;
    border: 2px solid rgb(64, 147, 165);
    height: 2rem;
    width: 2rem;
    float: left;
    overflow: auto;
}
.scrollCheckboxText {
    float: left;
    overflow: auto;
    padding-top: 0.5rem;
}
.scrollCheckboxDiv {
    overflow: hidden;
    margin-left: 0.3rem;
}

/* text and stuff*/
h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.6rem;
}
pre, main-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
} 
a{
    color: rgb(62, 145, 164);
}
license-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

/* floppa image */
.floppa {
    width: 100%;
    height: 20vh;
}