<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id ="wrapper">
        <div class="container" id="div1">
            <div class="chatbox" id="chatbox-container">
                <pre id="file-content">{{ file_content }}</pre>
                <script>
                    function refreshText() {
                        fetch('/refresh_text')
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('file-content').innerHTML = data;
                        });
                    }
                    // Refresh every 5 seconds (adjust as needed)
                    setInterval(refreshText, 500);
                    </script>
            </div>
            <form method="post" action="{{ url_for('add_text') }}">
                <label for="text">Chat</label>
                <input type="text" id="text" name="text" required>
                <input type="submit" value="Submit">
            </form>
            <script>
                // JavaScript to always scroll to the bottom
                var scrollBoxContainer = document.getElementById('chatbox-container');
                scrollBoxContainer.scrollTop = scrollBoxContainer.scrollHeight + 1000;
            </script>
        </div>




        <div class="container" id="div2">
            <h1>Information</h1>
            <div class="bordered padded">
                <main-text>
                    Hello
                </main-text>
            </div>
        </div>
        <div class="container" id="div3">
            <h1>random content</h1>
        </div>
    </div>

</body>
</html>
